function Main.main 3
push constant 10
pop local 0
push local 0
push constant 17
add
pop local 1
push local 1
call Main.testfunc 1
pop local 2
push constant 0
return
 
function Main.testfunc 1
push argument 0
push constant 7
sub
pop local 0
push local 0
return
 
